.icon-mattermost {
	background-image: url('../img/app-dark.svg');
	min-width: 32px;
	filter: var(--background-invert-if-dark);
}

/* for NC <= 24 */
body.theme--dark .icon-mattermost {
	background-image: url('../img/app.svg');
}
