/* for file actions */
.icon-mattermost {
	background-image: url('../img/app-dark.svg');
	filter: var(--background-invert-if-dark);
}
body.theme--dark .icon-mattermost {
	background-image: url('../img/app.svg');
}
